<div class='home-content'>
  <div class='home-head'>
    <div class='home-title'>
      <canvas id="canvas" width="55" height="55"></canvas>
      <h2>my bob</h2>

      <% if @bob.status == 'working' %>
        <h3 class='status green'><%= @bob.status %></h3>
      <% elsif @bob.status == 'waiting' %>
        <h3 class='status yellow'><%= @bob.status %></h3>
      <% else %>
        <h3 class='status red'><%= @bob.status %></h3>
      <% end %>

    </div>

    <% if @bob.status == 'working' %>
      <%= link_to bob_path(1), method: :patch do %>
        <div class='home-btn red'>
          <i class="fas fa-stop"></i>
        </div>
      <% end %>
    <% elsif @bob.status == 'waiting' %>
    <% else %>
      <%= link_to bob_path(1), method: :patch do %>
        <div class='home-btn green'>
          <i class="fas fa-play"></i>
        </div>
      <% end %>
    <% end %>

  </div>
  <h3>Today bob is trading some ETH</h3>
  <div class='home-info'>
    <div class='home-profit'>
      <div>
        <h3>Profit</h3>
      </div>
      <h3>All time: <%= @last_transaction ? (@last_transaction.balance_value.to_f / 1000).round(3) - 500 : 0 %>$</h3>
    </div>

    <div class='home-log'>
      <% @last_transactions.reverse.each do |last_transactions| %>
        <div class='log-card'>
          <h3>Buy at: <%= last_transactions.time.strftime('%Ih %M:%S') %></h3>
          <h3>Transaction price: <%= (last_transactions.price.to_f / 1000).round(3) %>$</h3>
          <h3>Balance value: <%= (last_transactions.balance_value.to_f / 1000).round(3) %>$</h3>
          <div class='status log-status <%= last_transactions.transaction_type == 'buy' ? 'red' : 'green' %>'>
            <h3><%= last_transactions.transaction_type %></h3>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
<script src="https://unpkg.com/rive-js"></script>
<script>
  const status = document.querySelector('.status').innerText
  const btn = document.querySelector('.home-btn')

  const working = (status === 'working') || (status === 'waiting') ? true : false

  const r = new rive.Rive({
    src: "<%= asset_path('bob.riv') %>",
    canvas: document.getElementById('canvas'),
    autoplay: true,
    stateMachines: 'state',
    fit: rive.Fit.cover,
    onLoad: (_) => {
      const inputs = r.stateMachineInputs('state');
      const statusTriger = inputs.find(i => i.name === 'status');
      statusTriger.value = working
    },
  });
</script>
